.filter-gara {
  position: absolute;
  background: #fff;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 13px #b8c2cc;
  font-size: 13px;
  line-height: 17px;
  min-height: -moz-max-content;
  min-height: max-content;
  min-width: 210px;
  opacity: 1;
  visibility: visible;
  width: -moz-max-content;
  width: max-content;
  z-index: 13;
  top: calc(100% + 10px);
  left: 0;
}

.filter-gara__body {
  border-bottom: 1px solid #b8c2cc;
  padding: 4px 8px;
  max-height: 200px;
  overflow-y: auto;
  .filter-gara__item {
    gap: 4px;
  }
  .filter-gara__item-left {
    line-height: 36px;
    font-size: 15px;
  }
  .filter-gara__item-right {
    height: 36px;
    input {
      width: 16px;
    }
  }
}
.filter-gara__bottom {
  padding: 12px 20px;
}
.filter-gara__bottom-left,
.filter-gara__bottom-right {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  cursor: pointer;
}
.filter-gara__bottom-left {
  color: #004b68;
}
.filter-gara__bottom-right {
  color: white;
  background-color: #004b68;
  border-radius: 4px;
}
