@import "@/styles/mixin.scss";

// Radio

.radio-container {
  display: block;
  position: relative;
  padding-left: 18px;
  height: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 8px;

  input {
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    &:focus-visible {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: white;
        border: 1px solid red;
        border-radius: 50%;
      }
    }
  }
  input:focus-visible ~ .focus {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 23px;
    width: 23px;
    transform: translate(-50%, -50%);

    background-color: transparent;
    border: 1px solid blue;
    border-radius: 50%;
  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18px;
    width: 18px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid var(--primary-btn-bc);
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--primary-btn-bc);
      transform: translate(-50%, -50%);
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}
