.purchase {
  display: flex;
  padding: 8px;
  gap: 8px;

}

.purchase__left,
.purchase__right {
  background-color: var(--primary--bg-color-1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.purchase__right {
  width: 30vw;
  padding: 8px;
  padding-right: 16px;
  overflow: hidden;

  .stock_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .stock_search {
    margin: 10px 0;
  }

  .stock_top_right {

    .stock_code {
      display: flex;
      align-items: start;
    }

    .code {
      color: var(--primary--text-color-2);
      font-weight: 700;
      font-size: 20px;
      margin-right: 10px;
    }

    .flatform {
      margin-top: 2px;
    }

    .flatform,
    .stock_name {
      color: var(--primary--text-color-1);
      font-size: 14px;
      font-weight: 400;
    }


  }

  .stock_top_left {
    display: flex;
    align-items: center;

    &.red {
      color: rgb(255, 66, 66);
    }

    &.green {
      color: rgb(52, 200, 94);
    }

    &.yellow {
      color: rgb(255, 173, 13);
    }

    .matching_price {
      font-weight: 700;
      font-size: 20px;
      margin-right: 8px;
    }

    .price_changes,
    .price_percent {
      font-size: 14px;
    }
  }

  .stock_bottom {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    .price_item {
      display: flex;
      gap: 12px;
    }

    .price_item_title {
      color: var(--primary--text-color-2);
    }

    .price_item_value {
      font-weight: 600;
    }
  }

}

.purchase__left {
  width: calc(70vw - 8px);
}

.tab {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tab_header {
    height: 40px;
    display: flex;
    gap: 12px;
    padding: 12px 8px 0;
    border-bottom: 1px solid var(--white-5);
  }

  .tab_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .tab_item {
    font-size: 13px;
    font-weight: 500;
    color: var(--primary--text-color-1);
    position: relative;
    cursor: pointer;

    &.active {
      color: rgb(212, 67, 67);

      &:hover {
        color: rgb(212, 67, 67);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        bottom: 0px;
        width: 100%;
        background-color: rgb(212, 67, 67);
        transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &:hover {
      color: var(--primary--text-color-2);
    }
  }
}

.purchasing_ability {
  display: flex;
  justify-content: space-between;
  margin: 28px 0;

  .purchasing_ability_title {
    color: var(--primary--text-color-1);
  }

  .purchasing_ability_value {
    color: var(--primary--text-color-2);
    font-weight: 500;
  }
}

.set_price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  .set_price_title {
    flex-shrink: 0;
    font-size: 14px;
    width: 60px;
    color: var(--primary--text-color-2);
  }

  .input {
    color: var(--primary--text-color-2);
    font-size: 18px;
    font-weight: 600;
  }

}


.purchase_action {
  display: flex;
  gap: 12px;

}

.buy,
.sell {
  flex: 1;
  color: var(--primary--text-color-2);
  border-radius: 8px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buy {
  background-color: #2ca01c;
}

.sell {
  background-color: rgb(255, 66, 66);
}

.title {
  font-weight: 700;
}

.search_wrapper {
  color: rgb(228, 228, 236);
  background-image: none;
  background-color: rgba(36, 37, 39, 0.5);
  box-shadow: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: overlay;
  overflow-y: auto;
  height: calc(100vh - 100px);
  z-index: 99;
}

.search_item {
  height: 50px;
  padding: 6px;
  cursor: pointer;
}

.search_item_top {
  justify-content: space-between;
}

.search_stock_code {
  color: rgb(228, 228, 236);
}

.search_stock_price {
  font-size: 14px;

  &.red {
    color: rgb(255, 66, 66);
  }

  &.green {
    color: #34c85e;
  }

  &.yellow {
    color: rgb(255, 173, 13);
  }
}

.search_item_bottom {
  justify-content: space-between;
  margin-bottom: 4px;
}

.search_stock_flatform {
  font-size: 12px;
  color: rgb(132, 134, 138);
  text-underline-offset: 3px;

}

.search_stock_total_volume {
  font-size: 12px;
  color: rgb(228, 228, 236);
}