.line_chart_wrapper {
  canvas {
    background-color: rgba(36, 37, 39, 0.5);
  }
}

.choose_period {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 16px;

  .choose_period_item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    padding: 6px 12px;
    line-height: 1.125;
    height: 28px;
    background-color: rgba(51, 51, 51, 0.5);
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: rgb(212, 67, 67);
      color: rgb(228, 228, 236);
    }
  }
}

.line_chart {
  height: calc(100vh - 320px);
}

.line_chart__bottom {
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(36, 37, 39, 0.5);
  gap: 4px;
  padding: 8px;

  .line_chart__bottom_item {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: rgba(57, 58, 60, 0.5);
    }

    .top {
      color: var(--primary--text-color-2);
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .middle {
      display: flex;
      gap: 8px;
      font-size: 14px;
      font-weight: 500;
      margin: 4px 0;

      &.red {
        color: #ff4242;
      }

      &.green {
        color: #34c85e;
      }

      &.yellow {
        color: #ffad0d;
      }
    }

    .bottom {
      color: var(--primary--text-color-1);
      font-size: 14px;
    }
  }
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &.red {
    background-color: rgb(255, 66, 66);
  }

  &.green {
    background-color: #34c85e;
  }

  &.yellow {
    background-color: rgb(255, 173, 13);
  }
}