.table_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 2px;
    table-layout: fixed;
}

thead {
    position: relative;

    tr {
        background-color: rgb(36, 37, 39);
        position: sticky;
        top: 0;
        height: 40px;
    }
}

th {

    span {
        color: rgb(132, 134, 138);
        font-size: 12px;
    }
}

th,
td {
    padding: 0 8px;
    max-height: 40px;
    height: 40px;
    cursor: pointer;
}

.row__content {
    display: flex;
    flex-direction: column;
}

.group-row {
    color: var(--primary--text-color-1);
    font-weight: 400;
}

tbody {
    tr {
        td {
            span {
                font-weight: 500;
                font-size: 13px;
            }

            cursor: pointer;
        }

        &:hover {
            background-color: rgba(62, 62, 62, 0.15);
        }
    }

    tr:nth-child(even) {
        background-color: rgba(52, 52, 52, 0.15);
    }

    .td__content_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 10px;

        &.green {
            background-color: #c3ffd4;

            span {
                color: #03c43a;
            }
        }

        &.yellow {
            background-color: rgb(250, 250, 149);

            span {
                color: rgb(179, 179, 0);
            }
        }
    }

    .td__content {
        font-weight: 500;
        color: rgb(228, 228, 236);

        &.red,
        &.green,
        &.yellow {
            font-size: 13px;
        }

        &.red {
            color: rgb(255, 66, 66);
        }

        &.green {
            color: #34c85e;
        }

        &.yellow {
            color: rgb(255, 173, 13);
        }

    }
}

.no-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .no-data-text {
        color: rgb(228, 228, 236);
        margin-top: 12px;
    }
}