.table_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 2px;
    table-layout: fixed;
}

thead {
    position: relative;

    tr {
        background-color: rgb(36, 37, 39);
        position: sticky;
        top: 0;
        height: 40px;
    }
}

th {

    span {
        color: rgb(132, 134, 138);
        font-size: 12px;
    }
}

th,
td {
    padding: 0 8px;
    max-height: 40px;
    height: 40px;
}

tbody {
    tr {
        td {
            span {
                font-weight: 500;
                font-size: 13px;
            }

            cursor: pointer;
        }

        &:hover {
            background-color: rgba(62, 62, 62, 0.15);
        }
    }

    tr:nth-child(even) {
        background-color: rgba(52, 52, 52, 0.15);
    }

    .td__content {

        &.red,
        &.green,
        &.yellow {
            font-weight: 500;
            font-size: 13px;
        }

        &.red {
            color: rgb(255, 66, 66);
        }

        &.green {
            color: #34c85e;
        }

        &.yellow {
            color: rgb(255, 173, 13);
        }

        &.white {
            color: rgb(228, 228, 236);
        }
    }
}

.no-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.no-data-img {
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}

.no-data-text {}