@import "@/styles/mixin.scss";

.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  background-color: rgba(36, 37, 39, 0.5);

}

.logo {
  width: 42px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header_center {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 20px;

  .tab_item {
    display: flex;


    .router-link-active>span {
      color: rgba(255, 66, 66);
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: width 0.5s ease;
        height: 2px;
        background-color: rgba(255, 66, 66);
      }
    }

    span {
      font-size: 16px;
      color: rgba(132, 134, 138);
      font-weight: 400;
      cursor: pointer;
      position: relative;

      &:hover {
        color: rgba(255, 66, 66);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: red;
      }
    }


  }
}

.header_right {
  position: relative;
}

.popup-avatar {
  display: flex;
  flex-direction: column;
  background: #212121;

  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dae1e7;
  position: absolute;
  z-index: 99;
  width: 200px;
  top: calc(100% + 10px);
  right: 0px;

  .title {
    font-weight: 700;
    font-stretch: 110%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: white;
    text-align: center;
  }
}