.navigation-top {
  height: 72px;
  padding: 12px 24px;
  width: 100%;
  border-bottom: 1px solid #dae1e7;
  box-shadow: 1p;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;

  box-shadow: 0 4px 6px -2px #dae1e7;
}


