@import "@/styles/mixin.scss";

/* Check box */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 16px;
  height: 18px;
  cursor: pointer;
  font-size: 22px;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--primary-btn-bc);
    background-color: white;
    border-radius: 2px;
    margin: 0;
    @include transition;
    transform: rotate(90deg);

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: calc(1.45px);
      width: 5px;
      height: 8px;
      border: solid var(--primary-btn-bc);
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input:focus ~ .checkbox-focus {
    position: absolute;
    top: 50%;
    left: 58%;
    height: 22px;
    width: 22px;
    transform: translate(-50%, -50%);

    background-color: transparent;
    border: 1px solid #a4dfff;
  }
  input:checked ~ .checkmark {
    background-color: white;
    transition: all 0.2s ease;
    transform: rotate(0deg);
    border-color: var(--primary-btn-bc);
    &.required {
      background-color: #e8e9ec;
    }
  }
  .checkmark {
    border: 1px solid var(--border-checkbox-color);
    &.required {
      &::after {
        border-color: var(--border-checkbox-color);
      }
    }
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}
