.panigation {
    height: 30px;
}
.panigation__left, .panigation__right,
.panigation__center-item
{
    cursor: pointer;
        color: #0098d3;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
}
.panigation__left, .panigation__right {
    &.disable  {
        cursor: not-allowed;
        color: #b8c2cc;
        
    }
}

.panigation__center-item {

        margin: 0 8px;
        height: 30px;
        &.current-page {
                background-color: #0098d3;
    border: 1px solid #0098d3;
    color: #e6f8ff;
    padding: 10px;
    border-radius: 8px;
        }
}

.group-select {
    display: flex;
    align-items: center;
    justify-content: center;
}