* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { scroll-behavior: smooth; } 

body {
  font-family: "notosans", sans-serif;
  overflow: overlay;
  color: #424242;
  background-color: var(--primary--bg-color-2);
}
pre {
  font-family: "notosans", sans-serif;
}
button,
input {
  outline: none;
  border: none;
}
input {
  &::placeholder {
    font-family: "notosans", sans-serif;
  }
  background-color: transparent !important;
}

input[type="text"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type="text"]::-webkit-input-placeholder {
    background: none;
}

input[type="text"]:hover {
    background-color: transparent;
    border-color: inherit;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: none !important;
}

.copyright {
  display: none !important;
}
a {
  text-decoration: none;
}
a:focus-visible {
    outline-offset: 0px;
    outline: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: none;
}
